<div id="<%= dom_id device %>">
  <p>
    <strong>Model tag:</strong>
    <%= device.model_tag %>
  </p>

  <p>
    <strong>Model number:</strong>
    <%= device.model_number %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= device.age %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= device.price %>
  </p>

</div>
